@import "tailwindcss";

@theme {
  --color-colorText1: #212529;
  --color-colorText2: #0B8FF8;
  --color-colorText3: #111111;
  --color-colorbg1: #111111;

  --color-color4: #ffffff;
  --color-color5: #6C737D;
  --color-color6: #ECF7FF;
  --color-color7: #646161;
  --color-color8: #f8f8f8;
  --font-figtree: "Figtree", sans-serif;
}

body {
  @apply font-figtree;
  box-sizing: border-box;
}
